body{
  width: 100%;
  margin:auto;
}
p{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
h1{
  font-family: 'Playfair Display', sans-serif;
  color: white;
  font-size: 4vw;
  width: 100%;
  font-weight : normal;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 5.6vw;
  color: white;
}
h3{
  font-family: 'Playfair Display', serif;
}
h4{
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  text-transform: capitalize;
  width: 0%;
  font-weight : normal;
}
h5{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-top: -50px;
  font-weight : normal;
}
article{
  width: 50%;
  padding: 20px;
  margin: 0px;
}
section{
  display: inline;

}
/*HEADER ALEXIS*/

.imgtop {
  width: 100%;
}

.logotop {
  width: 7%;
  margin-left: 46%;
  position: absolute;
}

.container {
  position: relative;
}


.centrer h1 {
  position: absolute;
  top: 61%;
  left: 36.2%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.centrer h2 {
  position: absolute;
  top: 45%;
  left: 46.1%;
  transform: translate(-50%, -50%);
  width: 80%;
  line-height: 100%;
}

button{
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
    width: 19vw;
    height: 6%;
    position: absolute;
    right: 20%;
    left: 76%;
    top: 93.6%;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 3%;
}

button:active{
     color:white;
     background: linear-gradient( rgb(255, 255, 255), rgb(226, 226, 226));
}

.logovolant{
    position: absolute;
    bottom: 0.7%;
    left: 76.2%;
    z-index: 2;
    width: 3.4vw;
}

/*SECTION 1 ALEXIS*/


#section1{
  display: flex;
  width: 100%;
}

.imgarticle1{
  width: 50%;
  z-index: 3;

}

.textarticle1{
  margin-top: -2%;
  padding-left: 5%;
  float: left;
  width: 50%;
  padding-right: 5%;
}

/*SECTION 2 ALEXIS*/

#section2{
  display: flex;
  width: 100%;
}

.imgarticle2{
  float: left;
  width: 60%;
}

.textarticle2{
  float: right;
  width: 50%;
}

/*SECTION 3 FRANK*/
.blocb{

  width: 50%;
  right: auto;


}
.imgb{

}
.emotion{
  width: 250px;
  height: auto;
  border: 0px;

}
.emotion:hover{
  opacity: 0.7;
}
.blocEmo{
  background-color: green;
  display: flex;
}
/*SECTION 4 FRANK*/
.test {border: 1px solid black;}
.imgbot{
  background-image: image(img/imgbot.jpg);
  background-size: cover;

}

/*FOOTER FRANK*/
