body{
  width: 100%;
  margin:auto;
}
p{
  font-family: 'Lato', sans-serif;

}
h1{
  font-family: 'Playfair Display', serif;
  position: absolute;
  bottom: 20%;
  left:
  color: white;
}
h2{
  font-family: 'Playfair Display', serif;
}
h3{
  font-family: 'Playfair Display', serif;
}
h4{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-transform: capitalize;
}
h5{
  font-family: 'Playfair Display', serif;
  font-size: 10px;

  margin-top: -50px;
}
article{
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  float: left;
}


/*HEADER ALEXIS*/

.imgtop {
  width: 100%;
}

.logotop {

}

/*SECTION 1 ALEXIS*/

/*SECTION 2 ALEXIS*/

/*SECTION 3 FRANK*/
.blocb{
  width: 40%;
  float: right;
  border: solid 1px black;
}
.imgb{
  float: right;
  width: 50%;
  border: solid 1px black;


}
/*SECTION 4 FRANK*/

.imgform {

}

/*FOOTER FRANK*/
